---
---
@charset "utf-8";

// Variables to modify font folders
$icon-font-path:      "../font/bootstrap";
$fa-font-path:        "../font/font-awesome";
//
// IMPORTS
//
//@import "reset";
//@import "variables";
@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "agency/agency";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
/*
html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
*/
/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 50px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

.cyber-management-skill {
  color: rgb(255, 255, 255);
  background-color: rgba(16, 0, 255, 0.75);
  margin : 5px 5px 5px 5px;
}

.cyber-tech-skill {
  color: rgb(255, 255, 255);
  background-color: rgba(16, 0, 255, 0.75);
  margin : 5px 5px 5px 5px;
}

.dev-skill {
  color: rgb(255, 255, 255);
  background-color: rgba(16, 0, 255, 0.75);
  margin : 5px 5px 5px 5px;
}

.other-skill {
  color: rgb(255, 255, 255);
  background-color: rgba(16, 0, 255, 0.75);
  margin : 5px 5px 5px 5px;
}

.timeline>li .clickable:hover {
  border: 9px solid #cbccce;
}

.timeline>li .timeline-image{
  border: 7px solid #0957ffad;
}

.timeline>li .timeline-image.sub-timeline{
  border: 5px solid #4882fd55;
}

todo {
  font-style: italic;
  color: #af0000;
}

.btn-circle:hover {
  outline: 0;
  color: #fff;
  background: rgba(255,255,255,.1);
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 100% !important;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn {
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0;
}

.material-label {
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  border-radius: 4px;
  padding: 4px 16px;
  margin:2px;
  -webkit-transition-property: box-shadow, background-color;
  transition-property: box-shadow, background-color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.material-label_lg {
  padding: 5px 20px;
  font-size: 16px;
}
.material-label_sm {
  padding: 3px 12px;
  font-size: 13px;
}
.material-label_xs {
  padding: 2px 8px;
  font-size: 12px;
}
.material-label {
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  color: #000;
}
.material-label:hover {
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
}
.material-label_primary {
  border: 1px solid #64b2f5;
  background-color: #64b2f5;
  color: #fff;
}
.material-label_primary:hover {
  background-color: #64b2f5;
  border: 1px solid #64b2f5;
}

.timeline>.timeline-panel.timeline-inverted {
  float: right;
  padding: 0 20px 0 100px;
  // text-align: left
  text-align: justify
}

div.timeline-panel.timeline-inverted {
  float: right;
  padding: 0 20px 0 100px;
  // text-align: left
  text-align: justify
}

.timeline>.timeline-panel.timeline-inverted:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0
}

.timeline>.timeline-panel.timeline-inverted:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0
}

@media (min-width: 768px) {
  .timeline:before {
      left: 50%
  }
  .timeline>li {
      min-height: 100px;
      margin-bottom: 100px
  }
  .timeline>li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0px 20px 20px 30px;
      text-align: right
  }
  p {
    text-align: justify
  }
  .timeline>li .timeline-panel>p {
    text-align: justify
  }
  .timeline>li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px
  }
  .timeline>li .timeline-image h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px
  }
  .timeline>li.timeline-inverted .timeline-panel {
    float: right;
    padding: 0px 30px 20px 20px;
    // text-align: left
    text-align: justify
}
  div.timeline-panel.timeline-inverted {
      float: right;
      padding: 0px 30px 20px 20px;
      // text-align: left
      text-align: justify
  }

}
section {
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
}

@media (min-width: 992px) {
  .timeline>li {
      min-height: 150px
  }
  .timeline>li .timeline-panel {
      padding: 0px 30px 20px 20px
  }
  .timeline>li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px
  }
  .timeline>li .timeline-image h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px
  }
  div.timeline-panel.timeline-inverted {
      padding: 0px 30px 20px 20px
  }
}

@media (min-width: 1200px) {
  .timeline>li {
      min-height: 170px
  }
  .timeline>li .timeline-panel {
      padding: 0px 20px 20px 20px
  }
  .timeline>li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px
  }
  .timeline>li .timeline-image h4 {
      margin-top: 40px
  }
  div.timeline-panel.timeline-inverted {
      padding: 0px 20px 20px 20px
  }
}
