<script src="{{ site.baseurl }}/js/jquery/jquery.min.js"></script>
<script src='{{ site.baseurl }}/js/jquery/jquery-ui.min.js'></script>
<script src="{{ site.baseurl }}/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}/js/agency/agency.js"></script>
<script type="text/javascript">

function afficherMasquer(id)
{
  if(document.getElementById(id).style.display == "none")
    document.getElementById(id).style.display = "block";
//   else
//     document.getElementById(id).style.display = "none";
}

function getSkills(node, classname) 
{
    const childs = document.getElementsByClassName(classname);
    var temp = document.createElement('div');

    $.each(childs, (i, child) => {
        var exit = 0;
        if(temp.childNodes.length > 0) {
            $.each(temp.childNodes, (index, e) => {
                if(e.outerText === childs[i].outerText)
                {
                    exit = 1;
                }
            });
        }
        if(exit == 0) {
            var clone = childs[i].cloneNode(true);
            temp.appendChild(clone);
        }
    });

    node.appendChild(temp);
}

function getTodoList(node) {
    const childs = document.getElementsByTagName("todo");
    var temp = document.createElement('div');

    $.each(childs,(i, e) => {
        // console.log(e.outerText);
        // var list = document.createElement('li');
        var clone = childs[i].cloneNode(true);
        clone.style.display="block";
        // console.log(clone);
        // list.appendChild(clone);
        temp.appendChild(clone);
        temp.appendChild(document.createElement('br'));
    });
    console.log(temp);
    node.appendChild(temp);
}

</script>