 <section  class="bg-light" id="about">
	 <div class="container">
		 <div class="row text-center">
			 <div class="col-md-4">
				 <span class="fa-stack fa-4x">
					 <i class="fa fa-circle fa-stack-2x text-primary"></i>
					 <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
				 </span>
				 <h4 class="service-heading">Cybersecurity expert</h4>
				 <h3 class="section-subheading text-muted">Training Telecoms and Networks Engineer, I focused on securing information systems during my alternation at Ineo Defense. 
					 Since then, any subject in this field interests me, more particularly the network and system security.</h3>
			 </div>
			 <div class="col-md-4">
				 <span class="fa-stack fa-4x">
					 <i class="fa fa-circle fa-stack-2x text-primary"></i>
					 <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
				 </span>
				 <h4 class="service-heading">G33K</h4>
				 <h3 class="section-subheading text-muted">
					I spend time in technology watch, on topics as different as the digital market that the latest cyber attacks or the latest home automation solutions.
					I have  interest in all projects implementing an information system.
				</h3>
			 </div>
			 <div class="col-md-4">
					<span class="fa-stack fa-4x">
						<img class="rounded-circle img-fluid" src="img/lifehack.png">
					</span>
					<h4 class="service-heading">Life hack</h4>
					<h3 class="section-subheading text-muted">
						I like to understand, learn, discover and solve a problem when I'm faced.
						I discovered home automation in 2012, and since then I have been interested in finding new projects and hacking in this context.
			</div>
		 </div>
	 </div>
 </section>
