 <section id="career">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2 class="section-heading text-uppercase">Career<h2>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-12">
         <ul class="timeline">

          <!-- Stelau Conseil -->
          <li>
              <div class="timeline-image" style="background-color:rgb(255, 255, 255)">
                <span class="fa-stack fa-4x">
                    <img class="img-fluid" src="img/stelau.png">
                  </span>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="subheading">Stelau Conseil</h4>
                    <p class="text-muted">2016 - today</p>
                </div>
                <div class="timeline-body">
                    <code class="cyber-tech-skill">hacking</code>
                    <code class="cyber-tech-skill">PKI</code>
                    <code class="cyber-management-skill">ISMS</code>
                    <code class="cyber-management-skill">Cybersecurity management</code>
                    <code class="cyber-management-skill">eIdas</code>
                    <code class="dev-skill">Javascript</code>
                    <code class="cyber-management-skill">Audits</code>
                </div>
              </div>
            </li>


          <!-- Ineo Defense -->
          <li class="timeline-inverted">
              <div id="ineodefense-bullet" class="timeline-image clickable" style="background-color:rgb(255, 255, 255)" onclick="afficherMasquer(3); afficherMasquer(4);">
                <span class="fa-stack fa-4x">
                    <img class="rounded-circle img-fluid" src="img/ineodefense.png">
                  </span>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="subheading">Ineo Defense - Engie</h4>
                    <p class="text-muted">2012 - 2016</p>
                </div>
                <div class="timeline-body">
                    <code> &#9754; <b>Click</b> for more information</code>
                </div>
              </div>
            </li>

            <!-- Responsable technique -->
            <li class="timeline-inverted" style="display:none" id="3">
                <div class="timeline-image" style="background-color:rgb(255,255, 255)">
                      <img class="rounded-circle img-fluid" src="img/atome.png">
               </div>
  
               <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h5 class="subheading">Technical manager</h5>
                      <p class="text-muted">2015 - 2016</p>
                  </div>
                  <div class="timeline-body">
                    <code class="cyber-tech-skill">IT security</code>
                    <code class="cyber-tech-skill">PKI</code>
                    <code class="cyber-management-skill">ISMS</code>
                    <code class="cyber-management-skill">Audits</code>
                    <code class="other-skill">Project management</code>
                  </div>
                </div>
              </li>

            <!-- Alternance Ineo Defense -->

            <li class="timeline-inverted" style="display:none" id="4">
                <div class="timeline-image" style="background-color:rgb(255,255, 255)">
                    <img class="rounded-circle img-fluid" src="img/security.jpg">
               </div>
  
               <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h5 class="subheading">Apprentice engineer</h5>
                      <p class="text-muted">2012-2015</p>
                  </div>
                  <div class="timeline-body">
                      <code class="dev-skill">PHP</code>
                      <code class="dev-skill">SQL</code>
                      <code class="cyber-tech-skill">SIEM</code>
                      <code class="cyber-tech-skill">Security, network and system equipments integration</code>
                      <code class="cyber-tech-skill">Linux environments</code>
                  </div>
                </div>
              </li>
            



            <!-- Aalborg University -->
            <li>              
                <div class="timeline-image" style="background-color:rgb(255, 255, 255)">
                      <img class="rounded-circle img-fluid" src="img/aalborg.png">
                 </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4 class="subheading">Aalbord University</h4>
                      <p class="text-muted">Juillet 2014</p>
                  </div>
                  <div class="timeline-body">
                    <code class="dev-skill">Android applications</code>
                  </div>
                </div>
              </li>

            <!-- Concordia University -->
              <li class="timeline-inverted">
             <div class="timeline-image" style="background-color:rgb(255, 255, 255)">
                <span class="fa-stack fa-4x">
                    <img class="rounded-circle img-fluid" src="img/concordia.jpg">
                  </span>
             </div>
             <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="subheading">Concordia University - Montréal</h4>
                    <p class="text-muted">Mai - Août 2013</p>
                </div>
                <div class="timeline-body">
                    <code class="dev-skill">C++</code>
                    <code class="other-skill">Signal and digital signal processing</code>
                </div>
             </div>
           </li>
           <!-- ECE Paris -->
           <li>
              <div class="timeline-image clickable" style="background-color:rgb(255,255, 255)"  onclick="afficherMasquer(1); afficherMasquer(2);">
                 <span class="fa-stack fa-4x">
                     <img class="img-fluid" src="img/eceparis.svg">
                   </span>
              </div>
              
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="subheading">ECE Paris</h4>
                    <p class="text-muted">2010-2015</p>
                </div>
                <div class="timeline-body">
                  <code><b>Click</b> for more information &#9755;</code>
                </div>
              </div>
            </li>

            <!-- Alternance Ineo Defense -->
            <li style="display:none" id="2">
                <div class="timeline-image" style="background-color:rgb(255,255, 255)">
                    <img class="rounded-circle img-fluid" src="img/security.jpg">
               </div>
  
               <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h5 class="subheading">Apprentice engineer</h5>
                      <p class="text-muted">2012-2015</p>
                  </div>
                  <div class="timeline-body">
                      <h6>Network and Telecommunications specialization</h6>
                      <code>Technologies Cisco, GSM / 3G / 4G, Linux</code>
                      <code class="other-skill">3G / 4G</code>
                      <code class="other-skill">Linux</code>
                      <code class="other-skill">Cisco</code>
                      <code class="dev-skill">HTML5</code>
                      <code class="dev-skill">CSS</code>
                  </div>
                </div>
              </li>
            <!-- Prépa -->
            <li style="display:none" id="1">
                <div class="timeline-image" style="background-color:rgb(255,255, 255)">
                      <img class="rounded-circle img-fluid" src="img/atome.png">
               </div>
  
               <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h5 class="subheading">Preparatory class</h5>
                      <p class="text-muted">2010-2012</p>
                  </div>
                  <div class="timeline-body">
                    <code class="dev-skill">C</code>
                    <code class="dev-skill">Java</code>
                  </div>
                </div>
              </li>
  
  
         </ul>
       </div>
     </div>
   </div>
 </section>
