 <section id="career">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2 class="section-heading text-uppercase">Career<h2>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-12">
         <ul class="timeline">

          <!-- Stelau Conseil -->
          <li>
              <div class="timeline-image" style="background-color:rgb(255, 255, 255)">
                <span class="fa-stack fa-4x">
                    <img class="img-fluid" src="img/stelau.png">
                  </span>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="subheading">Stelau Conseil</h4>
                    <h6 class="timeline-date text-muted">2016 - today</h6>
                    <p class="text-muted">
                      Description du poste, des missions (clients principaux), rayonnement, aspects techniques et organisationels
                    </p>
                </div>
                <div class="timeline-body">
                    <code class="cyber-tech-skill">hacking</code>
                    <code class="cyber-tech-skill">PKI</code>
                    <code class="cyber-management-skill">ISMS</code>
                    <code class="cyber-management-skill">Cybersecurity management</code>
                    <code class="cyber-management-skill">eIdas</code>
                    <code class="dev-skill">Javascript</code>
                    <code class="cyber-management-skill">Audits</code>
                </div>
              </div>
            </li>

          <!-- Ineo Defense -->
          <li class="timeline-inverted">
              <div id="ineodefense-bullet" class="timeline-image clickable" style="background-color:rgb(255, 255, 255)" onclick="afficherMasquer(3); afficherMasquer(4);">
                    <img class="rounded-circle img-fluid" src="img/ineodefense.png">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="subheading">Ineo Defense - Engie</h4>
                    <h6 class="timeline-date text-muted">2012 - 2016</h6>
                    <br/>
                    <p class="text-muted">
                      Début chez Ineo Defense en 2012 en tant qu'alternant dans le département SIS (Soutien intégré et Services), 
                      travaux sur la GED, GMAO, base de données, modèles de reporting.
                      Participation à la création d'une équipe d'intégration de produits de sécurité pour des besoins internes.
                      Une fois l'aternance terminé, embauché en tant que responsable technique sécurité système et réseau.                    </p>
                    <div class="timeline-body">
                        <code onclick="afficherMasquer(3); afficherMasquer(4);"><b>Click</b> for more information</code>
                    </div>
                </div>

              </div>
            </li>

            <!-- Responsable technique -->
            <li class="timeline-inverted" style="display:none" id="3">
                <div class="timeline-image" style="background-color:rgb(255,255, 255)">
                      <img class="rounded-circle img-fluid" src="img/atome.png">
               </div>
  
               <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h5 class="subheading">Technical manager</h5>
                      <h6 class="timeline-date text-muted">2015 - 2016</h6>
                      <p class="text-muted">
                        Une fois mon diplome obtenu, notamment par le biais de la période d'alternance chez Ineo Defense, j'ai pu intégrer une équipe en tant que responsable technique.
                        En collaboration avec le responsable d'affaire, j'étais chargé du déploiement de systèmes d'informations dans le 
                        domaine des télécoms avec le soutiens d'une équipe 4 personnes composée de techniciens  / stagiaires / alternants dans le domaine des technologies de l'information.
                        Ma responsabilité était à la fois technique : définition d'architecture technique, spécifications techniques, expertise produits de sécurité,
                        et organisationnelle : gestion de l'équipe technique, définition des plannings avec le responsable d'affaire, élaboration de cahier des charges, analyses de risques
                        Point de contact privilégié avec la DSI et l'organisation SSI interne.
                      </p>
                  </div>
                  <div class="timeline-body">
                    <code class="cyber-tech-skill">IT security</code>
                    <code class="cyber-tech-skill">PKI</code>
                    <code class="cyber-management-skill">ISMS</code>
                    <code class="cyber-management-skill">Audits</code>
                    <code class="other-skill">Project management</code>
                  </div>
                </div>
              </li>

            <!-- Alternance Ineo Defense -->

            <li class="timeline-inverted" style="display:none" id="4">
                <div class="timeline-image" style="background-color:rgb(255,255, 255)">
                    <img class="rounded-circle img-fluid" src="img/security.jpg">
               </div>
  
               <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h5 class="subheading">Apprentice engineer</h5>
                      <h6 class="timeline-date text-muted">2012-2015</h6>
                      <p class="text-muted">
                        En plus des enseignements suivis à l'ECE Paris (<a onclick="afficherMasquer(1); afficherMasquer(2);" href="#2">Voir ci-après le détail du cycle d'ingénieur suivi à l'ECE Paris</a>),
                        j'ai pu participer et gérer des projets dans le domaine de la sécurité des systèmes d'informations. 
                        Notamment l'étude de solution de SIEM, l'intégration de produits de sécurité tels que des pare-feux, la définition d'architectures sécurisés (parties systèmes et réseau), mise en place de systèmes de sauvegardes
                      </p>
                  </div>
                  <div class="timeline-body">
                      <code class="dev-skill">PHP</code>
                      <code class="dev-skill">SQL</code>
                      <code class="cyber-tech-skill">SIEM</code>
                      <code class="cyber-tech-skill">Security, network and system equipments integration</code>
                      <code class="cyber-tech-skill">Linux environments</code>
                  </div>
                </div>
              </li>
            



            <!-- Aalborg University -->
            <li>              
                <div class="timeline-image" style="background-color:rgb(255, 255, 255)">
                      <img class="rounded-circle img-fluid" src="img/aalborg.png">
                 </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4 class="subheading">Aalborg University</h4>
                      <h6 class="timeline-date text-muted">Juillet 2014</h6>
                      <p class="text-muted">
                        1 month University d'Aalborg au Danemark, pour étudier le développement d'applications Android (Java).
                        Partie thérique puis réalisation (UML, gestion de projet, outil de travail collaboratif (SVN), 
                        développement de l'application, pitch de présentaiton) d'une application en groupe d'étudiants de nationalité différentes en 5 jours.
                      </p>
                  </div>
                  <div class="timeline-body">
                    <code class="dev-skill">Android applications</code>
                  </div>
                </div>
              </li>

            <!-- Concordia University -->
              <li class="timeline-inverted">
             <div class="timeline-image" style="background-color:rgb(255, 255, 255)">
                <span class="fa-stack fa-4x">
                    <img class="rounded-circle img-fluid" src="img/concordia.jpg">
                  </span>
             </div>
             <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="subheading">Concordia University - Montréal</h4>
                    <h6 class="timeline-date text-muted">Mai - Août 2013</h6>
                    <p class="text-muted">
                      Semestre international : 4 mois de cours à l'université Concordia à Montreal. 
                      Cours d'anglais, de Maths (proba), de développement (C++) et de traitement nuémrique du signal.
                    </p>
                </div>
                <div class="timeline-body">
                    <code class="dev-skill">C++</code>
                    <code class="other-skill">Signal and digital signal processing</code>
                </div>
             </div>
           </li>
           <!-- ECE Paris -->
           <li>
              <div class="timeline-image clickable" style="background-color:rgb(255,255, 255)"  onclick="afficherMasquer(1); afficherMasquer(2);">
                 <span class="fa-stack fa-4x">
                     <img class="img-fluid" src="img/eceparis.svg">
                   </span>
              </div>
              
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="subheading">ECE Paris</h4>
                    <h6 class="timeline-date text-muted">2010-2015</h6>
                    <p class="text-muted">
                      Après Bac S, intégration de la classe préparatoire intégrée à l'ECE Paris (2 ans).
                      Enseignement des matières fondamentales (Maths, physique) mais également de matières du métier de l'ingénieur
                      (Electronique, informatique).
                      Opportunité d'intégrer le cycle d'ingénieur en alternance à l'issue de la classe préparatoire. 
                      Contrat signé avec Ineo Defense (<a href="#4" onclick="afficherMasquer(3); afficherMasquer(4);">voir ici</a>) pour une durée de 3 ans.
                      
                    </p>
                   
                    <todo>Problème de lien # : ne prend pas en compte la barre header, donc rogne le début de la ref</todo>
                </div>
                <div class="timeline-body">
                  <code onclick="afficherMasquer(1); afficherMasquer(2);"><b>Click</b> for more information</code>
                </div>
              </div>
            </li>

            <!-- Alternance Ineo Defense -->
            <li style="display:none" id="2">
                <div class="timeline-image" style="background-color:rgb(255,255, 255)">
                    <img class="rounded-circle img-fluid" src="img/security.jpg">
               </div>
  
               <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h5 class="subheading">Apprentice engineer</h5>
                      <h6 class="timeline-date text-muted">2012-2015</h6>
                  </div>
                  <div class="timeline-body">
                      <h6>Network and Telecommunications specialization</h6>
                      <p class="text-muted">
                        Pendant ces 3 années du cycle d'ingénieur en alternance à l'ECE Paris, dont 2 années (4ème et 5ème en majeure Telecoms et réseaux),
                        poursuite du cours CCNA (1,2,3 & 4), étude de l'architecture des technos télécoms 3g / 4g / GMS
                        Developement Web (HTML / CSS selon MVC), développement C/C++
                        Cours système Linux
                      </p>
                      <code class="other-skill">3G / 4G</code>
                      <code class="other-skill">Linux</code>
                      <code class="other-skill">Cisco</code>
                      <code class="dev-skill">HTML5</code>
                      <code class="dev-skill">CSS</code>

                      <div class="timeline-heading">
                        <h5 class="subheading">Final project</h5>
                        <h6 class="timeline-date text-muted">September 2014- February 2015</h6>
                    </div>
                      <h6> </h6>
                        <p class="text-muted"><a href="" >ici</a>
                          Septembre 2014 - Décembre : état de l'art, ...
                          Janvier - mi-février 2015 : 6 semaines plein temps pour la réalisation d'un POC 
                          Projet en collaboration avec Thalès Communication & Security, mentor : M. Clément DUHART (ECE) et M. Jean-Marc LACROIX (Thalès).
                          Problèmatique:  sécurisation des communications 802.15.4 (6LowPAN)
                          PoC : développement et implémentation d'un driver pour le module AES pour ContikiOS (plateformes Zigduino_r2)
                          Mise en place du protocole Lithe (CoAP) entre plusieurs plateforme afin d'implémenter un protocole d'échange de secret,
                          afin d'assurer la confidentialité des échanges entre tous les noeuds.
    
                          Diplôme obtenu juillet 2015.
                        </p>
                        <code class="other-skill">6LowPAN</code>
                        <code class="other-skill">Contiki OS</code>
                      
                  </div>
                </div>
              </li>
            <!-- Prépa -->
            <li style="display:none" id="1">
                <div class="timeline-image" style="background-color:rgb(255,255, 255)">
                      <img class="rounded-circle img-fluid" src="img/atome.png">
               </div>
  
               <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h5 class="subheading">Preparatory class</h5>
                      <h6 class="timeline-date text-muted">2010-2012</h6>
                  </div>
                  <div class="timeline-body">
                    <code class="dev-skill">C</code>
                    <code class="dev-skill">Java</code>
                  </div>
                </div>
              </li>
         </ul>
       </div>
     </div>
   </div>
 </section>
