<!-- Projets -->
<section id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Projects</h2>
        <h3 class="section-subheading text-muted">Life hack and others</h3>
      </div>
    </div>
    <div class="row">

      <!-- Liste des projets -->
      <div class="col-md-4 col-sm-12 portfolio-item">
        <h4>WarmDom</h4>
        <h6 class="timeline-date text-muted">November 2017 - 2018</h6>
        <a href="./warmdom.html">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <img class=" img-fluid" src="img/jeedom-2.png">
            </div>
          </div>
        </a>
        <div class="portfolio-caption">
            <h6 style="color:red">[ En construction ]</h6>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 portfolio-item">
        <div class="timeline-heading">
          <h4 class="subheading">ECE Paris - final project</h4>
          <h6 class="timeline-date text-muted">September 2014 - February 2015</h6>
        </div>

        <a class="portfolio-link" data-toggle="modal" href="#modalPFE">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <img class=" img-fluid" src="img/contiki-2.png">
            </div>
          </div>
        </a>
        <br/>
        <div class="portfolio-caption">

          <p class="text-muted">
            I did my final project study in collaboration with Thales Communication & Security with Mr. Clément DUHART and Mr. Jean-Marc
            LACROIX. We were a team of 5 engineer from ECE Paris including four students from "network & telecoms" and one
            from "Information Systems" specialization. The problem of our project was: "How to secure communications (802.15.4
            - 6LowPAN) within a sensor network (ContikiOS)".
            <a class="portfolio-link" data-toggle="modal" href="#modalPFE">See more.</a>
          </p>
          <code class="other-skill material-label_primary">6LowPAN</code>
          <code class="other-skill material-label_primary">ContikiOS</code>
          <code class="cyber-tech-skill material-label_primary">AES</code>
        </div>
      </div>

      <div class="portfolio-modal modal fade post" id="modalPFE" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog col-lg-8">
          <div class="modal-content" style="width:60%;margin-left:20%">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-12 mx-auto">
                  <div class="modal-body">
                    <h2 class="text-uppercase">Final project ECE</h2>
                    <h5 class="timeline-date">State of art</h5>
                    <h6 class="timeline-date text-muted">September - December 2014</h6>
                    <p class="text-muted">
                      During the first project period, we focused on the state of art regarding the 6LowPAN security, including hardware support
                      and software. We could then define a target solution, and test it in the Cooja simulation environment
                      before the PoC implementation.
                    </p>
                    <h5 class="timeline-date">Proof of Concept </h5>
                    <h6 class="timeline-date text-muted">January - February 2015</h6>
                    <p class="text-muted">
                      We have developed and implemented a driver for the AES module of the Zigduino_r2 platform running ContikiOS. In order to
                      ensure the confidentiality of the exchanges between all the nodes, we implemented the protocol Lithe
                      (CoAP) on several platforms, which is a protocol of exchange of secrecy.
                    </p>
                    <img src="img/coap.png" style="max-width:100%" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>