<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Skills</h2>
        <h3 class="section-subheading text-muted">Cybersecurity expert</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x" style="color: #0068d875"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Cybersecurity - technical</h4>
        <div class="timeline-body" id="technical-skills"></div>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x" style="color: #0068d875"></i>
          <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Cybersecurity - management</h4>
        <div class="timeline-body" id="management-skills"></div>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x" style="color: #0068d875"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Coding</h4>
        <div class="timeline-body" id="dev-skills"></div>
      </div>
    </div>
    <!-- <br/>
    <script   src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"
    />
    <div class="calendar">
      Loading the data just for you.
    </div>

    <script>
      new GitHubCalendar(".calendar", "maxker", {responsive: true});
    </script> -->
  </div>
</section>
